    [[ufs_C768_warm_start<year,month,day,hour>]]
 
 # Get common information
        inherit = SHARE
 
 # Set job script path
        script = /glade/work/bcash/ufs-s2s-model/cmeps-0.6/cylc/C768/warm_start/bin/NEMS.job
 
 # Set specific environment variables required by the model run
        [[[environment]]]            # Local environment information
         HOSTNAME="cheyenne"         # Preferred hostname

 # Define job submission and directives
        [[[job]]]
       batch system=pbs
       execution time limit = PT12H
       batch submit command template = qsub %(job)s
 
 # Set the batch directives
        [[[directives]]]
       -A = P93300190
       -N = nems
       -l = select=42:ncpus=18:mpiprocs=18:mem=109GB
       -q = regular
       -m = abe
       -M = bcash@gmu.edu

