# This suite definition controls staging the initial condition files needed for running UFS

[[ufs_setup_warm_start<resol,year,month,day,hour>]]

# Get information from parent suite
    inherit = SHARE

# Set script
    script = "python /work/02441/bcash/stampede2/cylc_workflow//setup/bin/ufs_setup_warm_start.py"


